/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  font-size: 1.6rem;
}
body {
  font-family: 'Montserrat', sans-serif;
}
@media (max-width: 500px) {
  body {
    max-width: 500px;
  }
}
header {
  width: 100%;
  padding: 15px;
}
header nav {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}
header a {
  padding: 15px;
}
.intro {
  background-color: #B8BBD0;
  width: 100%;
  padding: 15px;
}
.intro img {
  width: 50%;
  height: auto;
}
.intro h1 {
  padding: 15px;
}
.intro h2 {
  padding: 15px;
}
.intro p {
  padding: 15px;
}
.intro button {
  margin-left: 10px;
  background-color: white(250, 250, 250);
  width: 100px;
}
.skills {
  background-color: #D4D4D4;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
}
.skills h2 {
  padding: 15px;
  font-weight: bolder;
}
.skills .skills-description {
  width: 30%;
}
.skills .skills-list .skill-box {
  border: 1px solid black;
}
.skills .skills-list .skill-box p {
  padding: 10px;
  border-bottom: 1px solid black;
}
.experience {
  background-color: #B8BBD0;
  width: 100%;
  padding: 15px;
  /* .expHead {
			.flexer;
			.width-and-pad;
			font-weight: bolder;
			background-color: @silver;
		}

		.exp1 {
			.flexer;
			.width-and-pad;
			background-color: @silver-blue
		}

		.exp2 {
			.flexer;
			.width-and-pad;
			background-color: @silver;
		} */
}
.experience h2 {
  font-weight: bolder;
  padding: 15px;
}
.experience table {
  border: 1px solid black;
  padding: 15px;
}
.experience table th {
  font-weight: bolder;
}
.experience table th,
.experience table td {
  padding: 15px;
}
footer {
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  background-color: #B8BBD0;
}
