// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

// mixins

.width-and-pad () {
	width: 100%;
	padding: 15px;
}

.width90 (){
	width: 90%
}

.padding15() {
	padding: 15px;
}

.flexer () {
	display: flex;
	justify-content: space-evenly;
	
}

//<-------------end mixins

//variables

@silver-blue: #B8BBD0;
@silver: #D4D4D4;
@resumeFont: 'Montserrat', sans-serif;

//<-----variables end 

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
	font-size: 62.5%;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	font-size: 1.6rem	
}

body {
	@media(max-width: 500px){
		max-width: 500px;
	}

	font-family: @resumeFont;
}

header {
	.width-and-pad;

	nav {
		display: flex;
		justify-content: flex-end;
		.padding15;
	}

	a {
		.padding15;
	}

}

.intro {
	background-color: @silver-blue;
	.width-and-pad;

	img {
		width: 50%;
		height: auto;
	}

	h1{
		.padding15;
	}

	h2{
		.padding15;
	}

	p {
		.padding15;
	}

	button {
		margin-left: 10px;

		background-color: white(250, 250, 250);
		width: 100px;
	}
}

.skills {
	background-color: @silver;
	.width-and-pad;
	display: flex;
	justify-content: space-evenly;

	h2 {
		.padding15;
		font-weight: bolder;
	}

	.skills-description {
		width: 30%
	}

	.skills-list {
		
		.skill-box {
			border: 1px solid black;
		
			p {
				padding: 10px;
				border-bottom: 1px solid black;
			}
		}

	}
}

.experience {
	background-color: @silver-blue;
	.width-and-pad;
		h2 {
			font-weight: bolder;
			.padding15();
		}

		/* .expHead {
			.flexer;
			.width-and-pad;
			font-weight: bolder;
			background-color: @silver;
		}

		.exp1 {
			.flexer;
			.width-and-pad;
			background-color: @silver-blue
		}

		.exp2 {
			.flexer;
			.width-and-pad;
			background-color: @silver;
		} */

		table {
			border: 1px solid black;
			.padding15();
			
			th {
				font-weight: bolder;
			}

			th, td {
				.padding15();
			}
		}
}

footer{
	.padding15();
	.flexer;
	background-color: @silver-blue;

}